<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} - Mercury</title>
    </head>
    <body>
        <!--Flash messages-->
        {% with messages = get_flashed_messages(with_categories = true) %}      <!--messages is a tuple of flashed messages. It can be empty, hence the following if statement.-->
            {% if messages %}
                <!--messages is a tuple in the form ('category', 'message')-->
                <div>
                    {{ messages[0][1] }}
                </div>
                <hr>
            {% endif %}
        {% endwith %}


        {% block content %}
        
        {% endblock %}
    </body>
</html>